{% extends "base.html" %}

{% block content %}
<div class="col-lg-12 text-center">
        <h1>About</h1>
        
        <p>SudoSolver was created by Eduardo Henrique Arnold as a C++ project. With time it was enhanced to allow image based queries and to solve more complex puzzles. Furthermore, it allows the user to generate new puzzles.</p>
        
        <p>After developing the C++ application this web wrapper was designed to facilitate user iteration. </p>
        
        <p>Next I plan to improve the base application to take advantage of multiple cores processing.</p>

</div>

{% endblock %}
