{% extends "base.html" %}

{% block content %}
<div class="col-lg-12 text-center">
        <h1>Solve</h1>
        
        <p>To solve a puzzle you can either take a photo of a puzzle straight away or upload a picture you have already taken. You may also manually type the puzzle. In this application only 9x9 grids are accepted.</p>
        
        <ul class="nav nav-tabs">
          <li><a data-toggle="tab" href="#tfile">Upload file</a></li>
          <li><a data-toggle="tab" href="#tpic">Take picture</a></li>
          <li><a data-toggle="tab" href="#tman">Manual input</a></li>
        </ul>

        <div class="tab-content">
          <div id="tfile" class="tab-pane fade">
            <h3>Upload photo file</h3>
            <form role="form" method="post">            
                    <span class="btn btn-default btn-file">
                            Browse <input type="file" name="file">
                    </span>

                    <input type="submit" class="btn btn-default" value="Upload">
            </form>
          </div>
          
          <div id="tpic" class="tab-pane fade">
            <h3>Take picture</h3>

                <div class="col-md-6"><video id="video" width="640" height="480" autoplay></video></div>
                <div class="col-md-6"><canvas id="canvas" width="640" height="480"></canvas></div>
                <button id="snap" class="btn btn-default">Snap Photo</button>                
                <form role="form" method="post">
                        <input type="hidden" id="picture" name="picture">
                        <input type="submit" class="btn btn-default" value="Submit">                        
                </form>

                <script>
                        //HTML5 capture Camera: http://davidwalsh.name/browser-camera
                        // Slightly changed for my application
                        $('a[href="#tpic"]').on('shown.bs.tab', function (e) {
	                        // Grab elements, create settings, etc.
	                         canvas = document.getElementById("canvas"),
		                        context = canvas.getContext("2d"),
		                        video = document.getElementById("video"),
		                        videoObj = { "video": true },
		                        errBack = function(error) {
			                        console.log("Video capture error: ", error.code); 
		                        };

	                        // Put video listeners into place
	                        if(navigator.getUserMedia) { // Standard
		                        navigator.getUserMedia(videoObj, function(stream) {
			                        video.src = stream;
			                        video.play();
		                        }, errBack);
	                        } else if(navigator.webkitGetUserMedia) { // WebKit-prefixed
		                        navigator.webkitGetUserMedia(videoObj, function(stream){
			                        video.src = window.webkitURL.createObjectURL(stream);
			                        video.play();
		                        }, errBack);
	                        }
	                        else if(navigator.mozGetUserMedia) { // Firefox-prefixed
		                        navigator.mozGetUserMedia(videoObj, function(stream){
			                        video.src = window.URL.createObjectURL(stream);
			                        video.play();
		                        }, errBack);
	                        }
                        });
                        
                        // Trigger photo take
                        $('#snap').on("click", function() {
                                context.drawImage(video, 0, 0, 640, 480);
                        	document.getElementById('picture').value = canvas.toDataURL("image/png");
                        });
                </script>

          </div>
          
          <div id="tman" class="tab-pane fade">
            <h3>Manual input</h3>
            <p>Numbers must be separated by spaces and rows by linebreaks. Empty spaces must be written as 0.</p>
            <form role="form" method="post">
                 <div class="form-group">
                  <label for="comment">Sudoku:</label>
                  <textarea class="form-control" rows="9" name="sudotext"></textarea>
                  <input type="submit" class="btn btn-default" value="Submit">
                </div>
            </form>            
          </div>
        </div>

</div>

{% endblock %}

